<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsyj.mapper.SysRoleMenuMapper">

  <resultMap id="BaseResultMap" type="com.tsyj.model.SysRoleMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="versions" jdbcType="INTEGER" property="versions" />
  </resultMap>


  <sql id="Base_Column_List">
    `id`, `role_id`, `menu_id`, `is_del`, `creator`, `updater`, `create_time`, `update_time`, 
    `versions`
  </sql>
</mapper>